<main class="container">
    <h2>Liste des assignments :</h2>
    <p>Nb total d'assignments = {{totalDocs}}</p>
    <p>Nb de pages = {{totalPages}}</p>

    <p>Nb d'assignments par page :
        <input type="range" min="1" max="100" step="1" (change)="changeLimit()" [(ngModel)]="sliderLimit"> {{sliderLimit}} &nbsp;
    </p>

    <div class="container2">
        <button mat-stroked-button (click)="premierePage()" class="espace-buttons" [disabled]="!hasPrevPage">PREMIERE
            PAGE</button>
        <button mat-stroked-button (click)="pagePrecedente()" class="espace-buttons" [disabled]="!hasPrevPage">&#8249;</button>
        <button mat-stroked-button (click)="pageSuivante()" class="espace-buttons" [disabled]="!hasNextPage">&#8250;</button>
        <button mat-stroked-button (click)="dernierePage()" class="espace-buttons" [disabled]="!hasNextPage">DERNIERE
            PAGE</button>
    </div>
    <div class="example-container mat-elevation-z8">
        <table mat-table ng-sticky-header [dataSource]="assignments" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let assignment"> {{assignment.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom du devoir </th>
                <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
            </ng-container>
            <ng-container matColumnDef="dateDeRendu">
                <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
                <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
            </ng-container>
            <ng-container matColumnDef="rendu">
                <th mat-header-cell *matHeaderCellDef> Rendu </th>
                <td mat-cell *matCellDef="let assignment">
                    <strong appRendu *ngIf="assignment.rendu"> Oui </strong>
                    <strong appNonrendu *ngIf="!assignment.rendu">Non </strong>
                </td>
            </ng-container>
            <ng-container matColumnDef="modifier">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let assignment">
                    <button mat-raised-button color="primary">
                        <a routerLink="/assignment/{{assignment.id}}/edit">
                            <mat-icon class="mat-icon" aria-hidden="true">edit</mat-icon>
                        </a>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="supprimer">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let assignment">
                    <button mat-raised-button color="warn" (click)="openDialog(assignment, 'supprimer')">
                        <mat-icon aria-hidden="true">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let assignment">
                    <button mat-raised-button color="basic">
                        <a routerLink="/assignment/{{assignment.id}}">
                            <mat-icon class="mat-icon" aria-hidden="true">search
                            </mat-icon>
                        </a>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="valider">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let assignment">
                    <button mat-raised-button class="validate-button" [disabled]="assignment.rendu" (click)="openDialog(assignment, 'valider')">
                        <mat-icon aria-hidden="true">check_circle</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</main>